{% extends 'base.html' %}

{% block content %}
<div class="page-header">
<h1>Calculator <small>Enter two numbers and an operator method</small></h1>
</div>
    <br><br><br>
<form action="" method="post">
{% csrf_token %}
<div class="input-group">
<input type="text" class="form-control" placeholder="First Number" value="{{ answer }}" id="first_number" name="first_number">

<select class="form-control" name="operator" id="operator">
    <option>+</option>
    <option>-</option>
    <option>*</option>
    <option>/</option>
</select>

<input type="text" class="form-control" placeholder="Second Number" id="second_number" name="second_number">
</div>
<br>
<input class="btn btn-primary" type="submit" value="Submit">
</form>
    <br><br>

<div>{{ first_number }} {{ operator }} {{ second_number }}</div>
<div>The answer is: {{ answer }}</div>

{% endblock %}