{% extends 'base.html' %}

{% block content %}
<form action="" method="post">
{% csrf_token %}
<div class="input-group">
<input type="text" class="form-control" placeholder="First Number" id="first_number" name="first_number">

<select class="form-control" name="operator" id="operator">
    <option>+</option>
    <option>-</option>
    <option>*</option>
    <option>/</option>
</select>

<input type="text" class="form-control" placeholder="Second Number" id="second_number" name="second_number">
</div>
<br>
<input class="btn btn-primary" type="submit" value="Submit">
</form>

{{ answer }}

{% endblock %}